@import './main/reset.scss';
@import './main/vars.scss';
@import '../fonts/stylesheet.scss';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

html{
    background-color: #F7F7F7;
    color: $primary-text-color;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 121%;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    min-height: 3500px
}

.subtitle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 40px;
    margin: 60px 0 40px;  
    font-family: 'Cerebri Sans Pro';
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: $primary-text-color;

    span{ 
        font-family: 'Cerebri Sans Pro';
        font-size: 14px;
        font-weight: 800;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: $primary-color;
    }

}
@import './components/categories.scss';
@import './components/slider.scss';
@import './components/featured.scss';
@import './components/values.scss';
@import './components/cash.scss';

