@import '../main/vars.scss';

.values{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.value-block{
    flex: 1 0 calc((100% - 40px)/3);
    max-width: calc((100% - 40x)/3);
    display: flex;
    position: relative;
    z-index: 0;

    &__img{}

}

.value-block__content{
    position: absolute;
    left: 20px;
    bottom: 100px;
    z-index: 1;
    max-width: 170px;
}

.value-block__title{
    font-family: Cerebri Sans Pro;
    font-size: 28px;
    font-weight: 900;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}

.value-block__text{
    font-family: Cerebri Sans Pro;
    font-size: 28px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}

.value-block__btn{
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 18px 20px;
    background-color: $primary-text-color;
    color: $white_color;
}