section.cash
    .cash-block
        img(src="./assets/imgs/background.png", alt="background").cash-block__img
        .cash-block__content
            .cash-block__title Get $5 Cashback! Min Order of $50
            .cash-block__text USE CODE : COMBOSUPERR2A