include ../mixins/category-block.pug

h2.subtitle 
    span Shop By
    | Categories
section.categories
    +category-block("./assets/imgs/img1.png",'Vegetables & Fruits')
    +category-block("./assets/imgs/img2.png",'Grocery & Staples') 
    +category-block("./assets/imgs/img3.png",'Dairy & Eggs') 
    +category-block("./assets/imgs/img4.png",'Beverages') 
    +category-block("./assets/imgs/img5.png",'Snacks') 
    +category-block("./assets/imgs/img6.png",'Home Care')    