include ../mixins/feature3-block.pug

h2.subtitle 
    span For You
    | Added new Products
section.featured
    +feature-block({
        sale: '15%Off',
        like: "./assets/imgs/heart.png",
        img: "./assets/imgs/top11.png",
        subtitle: 'Available(in stock)',
        text: 'Ginger',
        price: '$12',
        second_price: '$15',
        number: '1',
        basket: "./assets/imgs/basket.png"
    })
    +feature-block({
        sale: '15%Off',
        like: "./assets/imgs/heart.png",
        img: "./assets/imgs/top12.png",
        subtitle: 'Available(in stock)',
        text: 'Two fresh figs',
        price: '$12',
        second_price: '$15',
        number: '1',
        basket: "./assets/imgs/basket.png"
    })
    +feature-block({
        sale: '15%Off',
        like: "./assets/imgs/heart.png",
        img: "./assets/imgs/top13.png",
        subtitle: 'Available(in stock)',
        text: 'Strawberry',
        price: '$12',
        second_price: '$15',
        number: '1',
        basket: "./assets/imgs/basket.png"
    })
    +feature-block({
        sale: '15%Off',
        like: "./assets/imgs/heart.png",
        img: "./assets/imgs/top14.png",
        subtitle: 'Available(in stock)',
        text: 'Eggplant',
        price: '$12',
        second_price: '$15',
        number: '1',
        basket: "./assets/imgs/basket.png"
    })
    +feature-block({
        sale: '15%Off',
        like: "./assets/imgs/heart.png",
        img: "./assets/imgs/top15.png",
        subtitle: 'Available(in stock)',
        text: 'Egg',
        price: '$12',
        second_price: '$15',
        number: '1',
        basket: "./assets/imgs/basket.png"
    })
