include ../mixins/feature2-block.pug

h2.subtitle 
    span For You
    | Top Vegetables & Fruits Products
section.featured
    +feature-block({
        sale: '15%Off',
        like: "./assets/imgs/heart.png",
        img: "./assets/imgs/top6.png",
        subtitle: 'Available(in stock)',
        text: 'Red apple',
        price: '$12',
        second_price: '$15',
        number: '1',
        basket: "./assets/imgs/basket.png"
    })
    +feature-block({
        sale: '15%Off',
        like: "./assets/imgs/heart.png",
        img: "./assets/imgs/top7.png",
        subtitle: 'Available(in stock)',
        text: 'capsicum-green',
        price: '$12',
        second_price: '$15',
        number: '1',
        basket: "./assets/imgs/basket.png"
    })
    +feature-block({
        sale: '15%Off',
        like: "./assets/imgs/heart.png",
        img: "./assets/imgs/top8.png",
        subtitle: 'Available(in stock)',
        text: 'Pear fruit',
        price: '$12',
        second_price: '$15',
        number: '1',
        basket: "./assets/imgs/basket.png"
    })
    +feature-block({
        sale: '15%Off',
        like: "./assets/imgs/heart.png",
        img: "./assets/imgs/top9.png",
        subtitle: 'Available(in stock)',
        text: 'Blueberry',
        price: '$12',
        second_price: '$15',
        number: '1',
        basket: "./assets/imgs/basket.png"
    })
    +feature-block({
        sale: '15%Off',
        like: "./assets/imgs/heart.png",
        img: "./assets/imgs/top10.png",
        subtitle: 'Available(in stock)',
        text: 'Fresh raspberry',
        price: '$12',
        second_price: '$15',
        number: '1',
        basket: "./assets/imgs/basket.png"
    })
