include ../mixins/feature-block.pug

h2.subtitle 
    span For You
    | Top Featured Products
section.featured
    +feature-block({
        sale: '15%Off',
        like: "./assets/imgs/heart.png",
        img: "./assets/imgs/top1.png",
        subtitle: 'Available(in stock)',
        text: 'Fresh organic apricot',
        price: '$12',
        second_price: '$15',
        number: '1',
        basket: "./assets/imgs/basket.png"
    })
    +feature-block({
        sale: '15%Off',
        like: "./assets/imgs/heart.png",
        img: "./assets/imgs/top2.png",
        subtitle: 'Available(in stock)',
        text: 'Cucumber',
        price: '$12',
        second_price: '$15',
        number: '1',
        basket: "./assets/imgs/basket.png"
    })
    +feature-block({
        sale: '15%Off',
        like: "./assets/imgs/heart.png",
        img: "./assets/imgs/top3.png",
        subtitle: 'Available(in stock)',
        text: 'Hazelnuts filbert nut',
        price: '$12',
        second_price: '$15',
        number: '1',
        basket: "./assets/imgs/basket.png"
    })
    +feature-block({
        sale: '15%Off',
        like: "./assets/imgs/heart.png",
        img: "./assets/imgs/top4.png",
        subtitle: 'Available(in stock)',
        text: ' Raw Broccoli',
        price: '$12',
        second_price: '$15',
        number: '1',
        basket: "./assets/imgs/basket.png"
    })
    +feature-block({
        sale: '15%Off',
        like: "./assets/imgs/heart.png",
        img: "./assets/imgs/top5.png",
        subtitle: 'Available(in stock)',
        text: 'Organic quince',
        price: '$12',
        second_price: '$15',
        number: '1',
        basket: "./assets/imgs/basket.png"
    })
